header a, nav a {
    border-radius: var(--radius-s);
}

nav a:hover, header a:hover {
    background-color: var(--color-hover);
}

header > a {
    font-family: var(--font-heading);
    font-size: var(--font-size-m);
    color: var(--color-primary);
    font-weight: var(--font-weight-l);
    padding: calc(var(--grid-unit) * 1.5) var(--space-s);
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-xs);
}

nav ul li a {
    padding: calc(var(--grid-unit) * 1.5) var(--space-s);
    font-family: var(--font-text);
    font-weight: var(--font-weight-m);
}

.helper-div {
    margin: 0 auto;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    padding: 0 var(--space-l);
}

.hero-section {
    background-image: 
    linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6)),
    url('../img/restaurace_int.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;
    display: flex;
    justify-content: center;
}

.hero-section > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-section h1 {
    font-size: var(--font-size-3xl);
}

.hero-section p {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-m);
    color: var(--color-white);
    text-align: center;
}

.hero-section button {
    font-size: var(--font-size-s);
}

.hero-section button:hover {
    border: 2px solid white;
    color: white;
}

.warning-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-xs);
    background-color: var(--color-warning-bg);
    padding: calc(var(--grid-unit) * 1.5) var(--space-m);
    border-top: 1px solid var(--color-warning-border);
    border-bottom: 1px solid var(--color-warning-border);
}

.warning-section p {
    font-size: var(--font-size-2xs);
    font-weight: var(--font-weight-l);
    text-align: left;
    line-height: var(--space-s);
}

.warning-section > img {
    height: calc(var(--grid-unit) * 2.5);
    width: calc(var(--grid-unit) * 2.5);
}

.about-section > .helper-div {
    max-width: calc(var(--grid-unit) * 116);
}

.about-section p {
    text-align: center;
}

.recommend-section > .helper-div {
    max-width: calc(var(--grid-unit) * 160);
}

.recommend-section p {
    text-align: center;
}

.grid-cont {
    display: grid;
    width: 100%;
}

.recommend-section .grid-cont {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-l);
    justify-content: space-around;
}

.price-card {
    width: fit-content;
    box-shadow: 6px 7px 9px -8px rgba(0,0,0,0.1);
}

.price-card:hover {
    filter: brightness(0.95);
}

.price-card img {
    border-radius: var(--radius-l) var(--radius-l) 0 0;
}

.price-card .card-bottom {
    background-color: var(--color-secondary);
    padding: calc(var(--grid-unit) * 3);
    min-height: 176px;
    min-height: calc(var(--grid-unit) * 22);
    border-radius: 0 0 var(--radius-l) var(--radius-l);
}

.price-card p, .price-card h4 {
    text-align: left;
}

.price-card h4 {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-l);
}

.price-card p {
    font-size: var(--font-size-xs);
}

.price-card .price-card-price {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-l);
    color: var(--color-primary);
}

.whyus-section .grid-cont {
    grid-template-columns: repeat(4, 1fr);
    gap: var(--space-l);
    justify-content: space-around;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-card .round-cont {
    width: calc(var(--grid-unit) * 8);
}

.whyus-section > .helper-div {
    max-width: calc(var(--grid-unit) * 160);
}

.timetable-section > .helper-div {
    max-width: calc(var(--grid-unit) * 112);
}

.timetable-section .timetable {
    background-color: var(--color-secondary);
    padding: var(--space-l);
    width: 100%;
    max-width: calc(var(--grid-unit) * 56);
    border-radius: var(--radius-m);
    box-shadow: 6px 7px 9px -8px rgba(0,0,0,0.1);
}

.timetable-section .timetable .timetable-item {
    display: flex;
    justify-content: space-between;
    padding: var(--space-xs) 0;
}

.timetable .timetable-item p:first-child {
    color: var(--color-text);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-l);
}

.timetable .timetable-item p:nth-child(2) {
    font-weight: var(--font-weight-xs);
    font-size: var(--font-size-s);
}

.visitus-section > .helper-div {
    max-width: calc(var(--grid-unit) * 160);
}

.visitus-section img {
    aspect-ratio: 16/9;
    width: clamp(calc(var(--grid-unit) * 43), calc(calc(var(--grid-unit) * 20) + 30vw), calc(var(--grid-unit) * 74));
    border-radius: var(--radius-m);
    box-shadow: 6px 7px 9px -8px rgba(0,0,0,0.5);

}

.visitus-section .visitus-flex-cont {
    gap: var(--space-l);
}

.visitus-section h3 {
    font-size: var(--space-m);
    line-height: var(--space-l);
    margin-bottom: calc(var(--grid-unit) * 1.5);
    font-weight: var(--font-weight-m);
    text-align: left;
}

.visitus-section .visitus-flex-cont p {
    line-height: var(--space-m);
    font-weight: var(--font-weight-m);
    font-size: var(--font-size-xs);
    text-align: left;
}

.section-page-header {
    padding: calc(var(--grid-unit) * 8) calc(var(--grid-unit) * 4);
    background-color: var(--color-primary);
}

.section-page-header h1 {
    font-size: var(--font-size-2xl);
    color: var(--color-secondary);
}

.section-page-header p {
    font-size: var(--font-size-xs);
    color: var(--color-secondary);
    margin-top: calc(var(--grid-unit) * 1);
}

.menu-section .menu-cont {
    width: 100%;
}

.menu-section .menu-cont h2 {
    padding-bottom: var(--space-s);
    margin-bottom: var(--space-l);
    text-align: left;
    border-bottom: 1px solid var(--color-border);
}

.menu-section .menu-cont:not(:first-child) {
    margin-top: calc(var(--grid-unit) * 8);
}

.menu-section .grid-cont {
    gap: var(--space-m);
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
}

.menu-card-cont .price-card--menu {
    padding: var(--space-m);
    background-color: var(--color-card-bg);
    border-radius: var(--radius-m);
    height: fit-content;
    width: 100%;
}

.price-card--menu p, .price-card--menu .price-card-price {
    font-size: var(--font-size-xs);
}

.price-card--menu .card-top-cont {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--space-xs);
}

.price-card--menu .card-top-cont h4 {
    font-weight: var(--font-weight-m);
}

.ourhistory-section {
    margin-bottom: calc(var(--grid-unit) * 10);
}

.ourhistory-section > h2, .ourhistory-section > p {
    text-align: left;
}

.ourteam-section {
    margin-bottom: calc(var(--grid-unit) * 10);
}

.ourteam-section, .ourvalues-section {
    width: 100%;
}

.ourteam-section .grid-cont, .ourvalues-section .grid-cont  {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-l);
    justify-content: space-around;
}

.info-card--fill {
    padding: var(--space-m);
    background-color: var(--color-card-bg);
    border-radius: var(--radius-m);
    box-shadow: 6px 7px 9px -8px rgba(0,0,0,0.1);
}

.info-card h4 {
    margin-bottom: var(--space-2xs);
    font-size: var(--font-size-s);
}

.info-card p {
    font-size: var(--font-size-xs);
}

.ourteam-section .round-cont {
    width: calc(var(--grid-unit) * 12);
    background-color: var(--color-round-icon);
    margin-bottom: var(--space-s);
    gap: var(--space-s);
    background-repeat: no-repeat;
    background-size: cover;
}

.ourteam-section .grid-cont .info-card:first-child .round-cont {
    background-image: url("../img/jan_honzak.png");
}

.ourteam-section .grid-cont .info-card:nth-child(2) .round-cont {
    background-image: url("../img/marie_novakova.png");
}

.ourteam-section .grid-cont .info-card:nth-child(3) .round-cont {
    background-image: url("../img/petr_svoboda.png");
}

.ourteam-section .ourteam-round-cont img {
    aspect-ratio: 1/1;
    width: calc(var(--grid-unit) * 6);
}

.round-cont {
    aspect-ratio: 1/1;
    border-radius: var(--radius-round);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-round-icon);
    margin-bottom: var(--space-s);
}

.otherpage-helper-div {
    max-width: calc(var(--grid-unit) * 160);
    padding-top: calc(var(--grid-unit) * 8);
    padding-bottom: calc(var(--grid-unit) * 8);
}

.contact-section {
    width: 100%;
    margin-bottom: calc(var(--grid-unit) * 8);
}

.contact-section h2, .contact-section h4, .contact-section p  {
    text-align: left;
    width: 100%;
}

.contact-section .grid-cont {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-2xl);
    justify-content: space-around;
}

.contact-section h2, .where-section h2 {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-l);
    margin-bottom: var(--space-m);
}

.contact-section h4 {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-l);
    font-family: var(--font-text);
}

.contact-section p {
    font-size: var(--font-size-xs);
    line-height: calc(var(--grid-unit) * 2.5);
}

.contact-section .timetable {
    width: 100%;
}

.contact-section .timetable .timetable-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-section .timetable .timetable-item:not(.contact-section .timetable .timetable-item:first-child) {
    margin-top: calc(var(--grid-unit) * 1.5);
}

.contact-section .timetable .timetable-item p {
    width: fit-content;
}

.contact-section form {
    width: 100%;
}

.contact-section form button {
    width: 100%;
}

.contact-section form .input-cont {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-section form .input-cont label {
    margin-bottom: var(--space-2xs);
}

.where-section, .where-section iframe {
    width: 100%;
}

.where-section iframe {
    height: calc(var(--grid-unit) * 50);
    border-radius: var(--radius-m);
}

.burger-menu-btn {
    display: none;
    aspect-ratio: 1/1;
    width: calc(var(--grid-unit) * 5);
    padding: calc(var(--grid-unit) * 1);
    border-radius: var(--radius-s);
    cursor: pointer;
}

.burger-menu-btn:hover {
    background-color: var(--color-hover);
}

.mobile-menu-cont {
    display: none;
    position: fixed;
    width: 100vw; 
    height: 100vh;
    backdrop-filter: blur(3px) brightness(60%);
}

.clickable-area {
    width: calc(100vw - calc(var(--grid-unit) * 32));
    height: 100%;
    position: absolute;
    left: 0;
}

.mobile-menu-cont nav{
    height: 100%;
    background-color: var(--color-secondary);
    position: absolute;
    right: 0;
    width: calc(var(--grid-unit) * 32)
}

.mobile-menu-cont nav ul{
    flex-direction: column;
    padding: var(--space-s);
}

.mobile-menu-cont nav ul li{
    width: 100%;
}

.mobile-menu-cont nav ul li a{
    width: 100%;
    display: block;
    padding: calc(var(--grid-unit) * 1.75) var(--space-s);
}

.button--primary {
    border: none;
    color: white;
    background-color: var(--color-button);
    border: 2px solid transparent;
}

.button--primary:hover {
    border: 2px solid var(--color-button);
    color: var(--color-button);
    background-color: transparent;
}

.button--secondary {
    border: 2px solid var(--color-button);
    color: var(--color-button);
}

.button--secondary:hover {
    border: 2px solid transparent;
    color: white;
    background-color: var(--color-button);
}

.warning--primary {
    background-color: var(--color-warning-bg);
    border-top: 1px solid var(--color-warning-border);
    border-bottom: 1px solid var(--color-warning-border);
}

.warning--primary p {
    color: var(--color-warning-text);
}

.warning--secondary {
    background-color: var(--color-warning-bg-secondary);
    border-top: 1px solid var(--color-warning-border-secondary);
    border-bottom: 1px solid var(--color-warning-border-secondary);
}

.warning--secondary p {
    color: var(--color-warning-text-secondary);
}