@media (max-width: 1024px) {
  .whyus-section .grid-cont {
    grid-template-columns: repeat(2, 1fr);
  }

  .recommend-section .grid-cont {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero-section h1 {
    font-size: var(--font-size-2xl);
  }

  header {
    padding: calc(var(--grid-unit) * 1) calc(var(--grid-unit) * 2);
  }
}

@media (max-width: 768px) {
  .whyus-section .grid-cont, .recommend-section .grid-cont, .menu-section .grid-cont,
  .ourteam-section .grid-cont, .ourvalues-section .grid-cont, .contact-section .grid-cont {
    grid-template-columns: repeat(1, 1fr);
  }

.timetable-section .timetable .timetable-item p:first-child {
    font-size: var(--font-size-2xs);
}

.timetable-section .timetable .timetable-item p:nth-child(2) {
    font-size: var(--font-size-xs);
}

  .hero-section h1 {
    font-size: var(--font-size-xl);
  }

  .hero-section p {
    font-size: var(--font-size-s);
  }

  .visitus-section .visitus-flex-cont {
    flex-direction: column;
    width: 100%;
  }

  .visitus-section .visitus-flex-cont, .visitus-section .visitus-flex-cont .right-div, .visitus-section img {
    width: 100%;
  }

  .helper-div {
    padding-left: var(--space-s);
    padding-right: var(--space-s);
  }

  .main-nav {
    display: none;
  }

  .burger-menu-btn {
    display: block;
  }
}

@media (min-width: 768px) {
  .mobile-menu-cont {
    display: none !important;
  }
}