.mb-1 { margin-bottom: calc(var(--grid-unit) * 0.5); }
.mb-2 { margin-bottom: calc(var(--grid-unit) * 1); }
.mb-3 { margin-bottom: calc(var(--grid-unit) * 1.5); }
.mb-4 { margin-bottom: calc(var(--grid-unit) * 2); }
.mb-5 { margin-bottom: calc(var(--grid-unit) * 2.5); }
.mb-6 { margin-bottom: calc(var(--grid-unit) * 3); }
.mb-7 { margin-bottom: calc(var(--grid-unit) * 3.5); }
.mb-8 { margin-bottom: calc(var(--grid-unit) * 4); }
.mb-9 { margin-bottom: calc(var(--grid-unit) * 4.5); }
.mb-10 { margin-bottom: calc(var(--grid-unit) * 5); }
.mb-11 { margin-bottom: calc(var(--grid-unit) * 5.5); }
.mb-12 { margin-bottom: calc(var(--grid-unit) * 6); }

.mt-1 { margin-top: calc(var(--grid-unit) * 0.5); }
.mt-2 { margin-top: calc(var(--grid-unit) * 1); }
.mt-3 { margin-top: calc(var(--grid-unit) * 1.5); }
.mt-4 { margin-top: calc(var(--grid-unit) * 2); }
.mt-5 { margin-top: calc(var(--grid-unit) * 2.5); }
.mt-9 { margin-top: calc(var(--grid-unit) * 4.5); }
.mt-6 { margin-top: calc(var(--grid-unit) * 3); }
.mt-7 { margin-top: calc(var(--grid-unit) * 3.5); }
.mt-8 { margin-top: calc(var(--grid-unit) * 4); }
.mt-10 { margin-top: calc(var(--grid-unit) * 5); }
.mt-11 { margin-top: calc(var(--grid-unit) * 5.5); }
.mt-12 { margin-top: calc(var(--grid-unit) * 6); }

.flex { display: flex; }
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center { text-align: center; }