:root {
    --grid-unit: 8px;

    --color-primary: #9b6c4b;
    --color-secondary: #f5f5f4;
    --color-secondary-rgb: 245, 245, 244;
    --color-text: #3d3129;
    --color-text-secondary: #937c6c;
    --color-button: #9b6c4b;
    --color-button-secondary: #8c6144;
    --color-button-hover: #875d41;
    --color-warning-text: #ad1f1f;
    --color-warning-bg: #eedfde;
    --color-warning-border: #daa4a4;
    --color-card-bg: #f1f0ef;
    --color-card-hover: #e9e8e7;
    --color-round-icon: #ece7e3;
    --color-hover: #ededec;
    --color-white: #ffffff;
    --color-border: rgba(164, 163, 163, 0.664);
    --color-input-border: #ddd9d5;

    --font-size-3xl: 3.815rem;
    --font-size-2xl: 3.052rem;
    --font-size-xl: 2.441rem;
    --font-size-l: 1.953rem;
    --font-size-m: 1.563rem;
    --font-size-s: 1.25rem;
    --font-size-xs: 1rem;
    --font-size-2xs: 0.8rem;
    --font-size-3xs: 0.64rem;

    --font-heading: "Playfair Display", Georgie, serif;
    --font-text: "Raleway", sans-serif;
    --font-text-secondary: ;

    --font-weight-2xl: 900; 
    --font-weight-xl: 700;
    --font-weight-l: 600;
    --font-weight-m: 500;
    --font-weight-s: 400;
    --font-weight-xs: 300;

    --radius-round: 50%;
    --radius-xl: calc(var(--grid-unit) * 1.5);
    --radius-l: calc(var(--grid-unit) * 1.25);
    --radius-m: calc(var(--grid-unit) * 1);
    --radius-s: calc(var(--grid-unit) * 0.75);
    --radius-xs: calc(var(--grid-unit) * 0.5);
    --radius-2xs: calc(var(--grid-unit) * 0.25);

    --space-3xl: calc(var(--grid-unit) * 7);
    --space-2xl: calc(var(--grid-unit) * 6);
    --space-xl: calc(var(--grid-unit) * 5);
    --space-l: calc(var(--grid-unit) * 4);
    --space-m: calc(var(--grid-unit) * 3);
    --space-s: calc(var(--grid-unit) * 2);
    --space-xs: calc(var(--grid-unit) * 1);
    --space-2xs: calc(var(--grid-unit) * 0.5);
    --space-3xs: calc(var(--grid-unit) * 0.25);

    --breakpoint-xs: 480px;
    --breakpoint-s: 768px;
    --breakpoint-m: 1024px;
    --breakpoint-l: 1280px;
    --breakpoint-xl: 1440px;

    --z-back: -1;
    --z-base: 0;
    --z-dropdown: 10;
    --z-overlay: 100;
    --z-modal: 1000;
    --z-toast: 2000;
}